html {
    background-color: rgb(44, 0, 0);
    font-size: 20px;
  }


ul, p {
  background: rgb(136, 0, 0);
  padding: 10px;
 
}  
h1  {
  background: rgb(136, 0, 0);
  border: 1px solid black;
  color: rgb(50,0,0);
  font-weight: bold;
}

li {
  margin-left: 20px;
}
li:hover {
  color:hotpink;
}  
